#archer-wrapper {
    margin: 25px;
}

.archer-row {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.archer-box {
    padding: 10px;
    border: 1px solid black;
}

.arrow-label {
    margin-top: -20px;
}